body {
  margin-top: 50px;
  text-align: center;
  background: lightblue;
}

#canvas {
  box-shadow: 5px 5px 20px grey;
  border: 1px black solid;
  background: lightgray;
}

.button {
  background-color: darkblue;
  color: lightgray;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  width: 275px;
  height: 40px;
  margin: 20px;
  border-radius: 25px;
}

#score {
  margin-top: 15px;
  font-size: 50px;
}
